# Postgres Credentials
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_NAME={DB_NAME}

# Security (JWT)
JWT_SECRET_KEY={JWT_SECRET_KEY}
JWT_EXPIRATION_TIME={JWT_EXPIRATION_TIME}

# Redis
REDIS_HOST={REDIS_HOST}
REDIS_PORT={REDIS_PORT}

# AI External Services
LLM_API_KEY={LLM_API_KEY}